@import 'theme';

// hero
.hero {
	height: 30rem;

	#to-start {display: none;}

	.container {
		padding: 0;
		position: absolute;
		bottom: 0;
		width: 100%;
		max-width: none;
	}

	h2 {
		font-size: 2rem;
		margin: 0;
		padding: 1rem;
		text-align: center;
		background-color: #000000B2;
		color: #ffffff !important;
	}
}

// header & footer
#header {
	background-color: $header-background;

	.container {
		max-width: unset;
	}

	.title {
		color: $sec-text-color;
		font-size: 1rem !important;
	}
}

#footer {
	background: $footer-background !important;

	&, a {
		color: $sec-text-color;
	}
}
