// colors
$bg-color: #ffffff;
$pri-text-color: #3d3d3d;
$sec-text-color: #ffffff;
$prim-color: #4063cb;

// elements
$header-background: $prim-color;
$footer-background: $prim-color;
$navigation-background: $bg-color;
$navigation-text: $prim-color;
$navigation-background__active: $prim-color;
$navigation-text__active: $sec-text-color;
